.qnh-lesson {
    position: fixed;
    bottom: 35%;
    width: 100%;
}

.pressure-controls {
    position: absolute;
    left: 55%;
}

.pressure-controls button {
    font-size: 1em;
    border: 0px;
    border-radius: 8px;
    padding: 8px;
    margin: 4px;
    color: white;
    background-color: #005476;

    cursor: pointer;

    transition: background-color 0.2s;
}

.pressure-controls button:hover {
    background-color: #008ac3;
}